<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Tramigo Oy</h1>
            <span><address>Helsinki, Finland</address><time>2020 to Present</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
    <article>
        <header>
            <h1>System Verification Enginner</h1>
            <span><address>Helsinki, Finland</address><time>2019 to 2020</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>QA Enginner</h1>
            <span><address>Tampere, Finland</address><time>2017 to 2019</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Tampere University of Technology</address><time>2016 to 2017</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>Senior Lecturer, Department of Electrical Engineering</h1>
            <span><address>Metropolitan University, Sylhet, Bangladesh</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>

</section>
