<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Service Designer</h1>
            <span><address>Tampere University of Applied Sciences (TAMK)</address><time>2019</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Nokia 2020 Hackathon Winner</h1>
            <span><address>Aalto University, Finland</address><time>2020</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
</section>