<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Website Automation with Robot Framework and Selenium</h1>
            <span><address>Tampere University of Applied Sciences (TAMK)</address><time>2019</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Radio network planning of Tallinn, Estonia by using a commercial tool ’ICS Designer’</h1>
            <span><address>Aalto University, Finland</address><time>2020</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
    <article>
        <header>
            <h1>RFID Testing in EMC with Voyantic Tagformance. </h1>
            <span><address>Tampere University of Technology, Finland</address><time>2020</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
    <article>
        <header>
            <h1>Project on WCDMA measurements </h1>
            <span><address>Tampere University of Technology, Finland</address><time>2020</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
</section>